* {
  padding: 0;
  margin-bottom: 0;
  text-decoration: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial", sans-serif;

  padding: 70px 12px;
}

.menu {
  background-color: #1d1d1f;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

button {
  all: unset;

  cursor: pointer;
  box-sizing: border-box;
  padding: 12px;
  background-color: #af1e2d;
  color: #FFF;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

a {
  color: #1d1d1f;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 42px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.produtos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;

  margin-bottom: 60px;
}

.produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  text-align: center;

  max-width: 200px;
}

.produto .acoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.produto .acoes > :last-child {
  background-color: transparent;
  color: #1d1d1f;
  border: 1px solid #1d1d1f;
}

.produto img {
  width: 200px;
  height: 200px;
}

@media (max-width: 768px) {
  .produtos {
      flex-direction: column;
      justify-content: flex-start;
  }
}